.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    padding: 1rem 0;
}

.navbar-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-logo img {
    width: 236px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar-logo span {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-balance {
    background: rgba(0, 118, 106, 0.3);
    border: 1px solid #00766A;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance-text {
    color: white;
}

.navbar-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #00766A;
    background-color: transparent;
    cursor: pointer;
}

.profile-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}